// SPDX-FileCopyrightText: Copyright (c) 2021-2023, NVIDIA CORPORATION & AFFILIATES.  All rights reserved.
// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (c) 2021-2023, NVIDIA CORPORATION & AFFILIATES.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify it
 * under the terms and conditions of the GNU General Public License,
 * version 2, as published by the Free Software Foundation.
 *
 * This program is distributed in the hope it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/*
 * --- MODIFICATION HISTORY ---
 *
 * Modified by: Takeo Nagayama/FaBo Inc.
 * Date:        July 10, 2025
 * Description:
 * - HS-SR04超音波センサー用にGPIOピン設定を追加/調整。
 * - TRIG/ECHOピンの役割に合わせてピンmux設定を最適化。
 * - 具体的な変更内容:
 * - hdr40-pin12 (TRIG) を出力として設定し、プルアップ抵抗を追加。
 * - hdr40-pin11 (ECHO) を入力として設定。
 * - FaBo AI Car Board（DKFA-05）を対象
 *
 * This modified work is also licensed under the GNU General Public License,
 * version 2, as original work.
 */


/dts-v1/;
/plugin/;

/ {
    jetson-header-name = "Jetson 40pin Header";
    overlay-name = "FaBo Ai Car Board";
    compatible = "nvidia,p3768-0000+p3767-0000\0nvidia,p3768-0000+p3767-0001\0nvidia,p3768-0000+p3767-0003\0nvidia,p3768-0000+p3767-0004\0nvidia,p3768-0000+p3767-0005\0nvidia,p3768-0000+p3767-0000-super\0nvidia,p3768-0000+p3767-0001-super\0nvidia,p3768-0000+p3767-0003-super\0nvidia,p3768-0000+p3767-0004-super\0nvidia,p3768-0000+p3767-0005-super\0nvidia,p3509-0000+p3767-0000\0nvidia,p3509-0000+p3767-0001\0nvidia,p3509-0000+p3767-0003\0nvidia,p3509-0000+p3767-0004\0nvidia,p3509-0000+p3767-0005";


    fragment@0 {
        target = <&pinmux>;

        __overlay__ {
            pinctrl-names = "default";
            pinctrl-0 = <&jetson_io_pinmux>;

            jetson_io_pinmux: exp-header-pinmux {
                hdr40-pin11 {
                        nvidia,pins = "uart1_rts_pr4";
                        nvidia,tristate = <0x1>;
                        nvidia,enable-input = <0x1>;
                        nvidia,pull = <0x0>;
                    };
                 hdr40-pin12 {
                        nvidia,pins = "soc_gpio41_ph7";
                        nvidia,tristate = <0x0>;
                        nvidia,enable-input = <0x0>;
                        nvidia,pull = <0x2>;    //none-pull
                    };
                hdr40-pin13 {
                        nvidia,pins = "spi3_sck_py0";
                        nvidia,tristate = <0x1>;
                        nvidia,enable-input = <0x1>;
                        nvidia,pull = <0x0>;
                    };
                hdr40-pin15 {
                        nvidia,pins = "soc_gpio39_pn1";
                        nvidia,tristate = <0x1>;
                        nvidia,enable-input = <0x1>;
                        nvidia,pull = <0x0>;
                    };
                hdr40-pin16 {
                        nvidia,pins = "spi3_cs1_py4";
                        nvidia,tristate = <0x0>;
                        nvidia,enable-input = <0x0>;
                        nvidia,pull = <0x2>;    //none-pull
                    }; 
                hdr40-pin18 {
                        nvidia,pins = "spi3_cs0_py3";
                        nvidia,tristate = <0x0>;
                        nvidia,enable-input = <0x0>;
                        nvidia,pull = <0x2>;    //none-pull
                    }; 
                hdr40-pin22 {
                        nvidia,pins = "spi3_miso_py1";
                        nvidia,tristate = <0x0>;
                        nvidia,enable-input = <0x0>;
                        nvidia,pull = <0x2>;    //none-pull
                    }; 
                hdr40-pin29 {
                        nvidia,pins = "soc_gpio32_pq5";
                        nvidia,tristate = <0x1>;
                        nvidia,enable-input = <0x1>;
                        nvidia,pull = <0x0>;
                    }; 
                hdr40-pin31 {
                        nvidia,pins = "soc_gpio33_pq6";
                        nvidia,tristate = <0x1>;
                        nvidia,enable-input = <0x1>;
                        nvidia,pull = <0x0>;
                    }; 
                hdr40-pin32 {
                        nvidia,pins = "soc_gpio19_pg6";
                        nvidia,tristate = <0x0>;
                        nvidia,enable-input = <0x0>;
                        nvidia,pull = <0x2>;    //none-pull
                    }; 
                hdr40-pin33 {
                        nvidia,pins = "soc_gpio21_ph0";
                        nvidia,tristate = <0x1>;
                        nvidia,enable-input = <0x1>;
                        nvidia,pull = <0x0>;
                    }; 
                hdr40-pin35 {
                        nvidia,pins = "soc_gpio44_pi2";
                        nvidia,tristate = <0x1>;
                        nvidia,enable-input = <0x1>;
                        nvidia,pull = <0x0>;
                    }; 
                hdr40-pin36 {
                        nvidia,pins = "uart1_cts_pr5";
                        nvidia,tristate = <0x0>;
                        nvidia,enable-input = <0x0>;
                        nvidia,pull = <0x2>;    //none-pull
                    }; 
                hdr40-pin37 {
                        nvidia,pins = "spi3_mosi_py2";
                        nvidia,tristate = <0x1>;
                        nvidia,enable-input = <0x1>;
                        nvidia,pull = <0x0>;
                    }; 
                hdr40-pin38 {
                        nvidia,pins = "soc_gpio43_pi1";
                        nvidia,tristate = <0x0>;
                        nvidia,enable-input = <0x0>;
                        nvidia,pull = <0x2>;    //none-pull
                    }; 
                hdr40-pin40 {
                        nvidia,pins = "soc_gpio42_pi0";
                        nvidia,tristate = <0x0>;
                        nvidia,enable-input = <0x0>;
                        nvidia,pull = <0x2>;    //none-pull
                    }; 

             };
        };
    };
};

